.body{
    background-color: antiquewhite;
}
.banner{
    width: 100%;   
}
.mtitle1{
    position: relative;
    left: 100px;
    top: 100px;
}
.title1{
    color: orange;
    font-weight: 600;
}
.title2{
    font-size: 35px;
    font-weight: 600;
    position: relative;
    top: -35px;
}
.about{
    display: flex;
    margin: 100px;
}
.about1{
    color: white;
    border: solid coral;
    background-color: coral;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}
.img1{
    height: 400px;
    width: 600px;
    border-radius: 70px 25px;
    margin-left: 50px;   
}
.img3{
    height: 400px;
    width: 400px;
}
.about2{
    background-color: white;
    border: solid white;
    padding: 20px;
    margin-left: 50px;
}
.image{
    height: 2000px;
}
.img3{
    height: 500px;
    width: 500px;
    border-radius: 50px 100px;
    top: 50px;
    left: 150px;
    position: relative;
}
.img4{
    height: 500px;
    width: 500px;
    border-radius: 50px 100px;
    right: 150px;
    position: relative;
    float: inline-end;
}
.img5{
    height: 500px;
    width: 500px;
    border-radius: 100px 50px;
    top: 500px;
    left: 150px;
    position: relative;
}
.img6{
    height: 500px;
    width: 500px;
    border-radius: 100px 50px;
    right: 150px;
    top: 500px;
    position: relative;
    float: inline-end;
}
.facts{
    background-color: white;
    border: solid white;
    padding: 20px;
    margin-left: 120px;
    width: 1000px;
    position: relative;
    top: 50px;
    font-size: 20px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 40px;
    position: relative;
    top: 100px;
}